@font-face
  font-family: 'Philosopher'
  font-style: normal
  font-weight: normal
  src: local('Philosopher Bold'), local('Philosopher-Bold'), url('Philosopher.woff') format('woff')
  
@font-face
  font-family: 'Philosopher'
  font-style: normal
  font-weight: bold
  src: local('Philosopher Bold'), local('Philosopher-Bold'), url('Philosopher-Bold.woff') format('woff')

/* GLOBAL */

body
  background-color: #EEE
  color: #666
  font: normal 12px/1.5 Helvetica,Verdana,Arial,sans-serif

a
  text-decoration: none

h2
  display: block
  font: 700 5em/1.2 'Philosopher', sans-serif

.clearfix:after
  clear: both
  content: ""
  display: block
  height: 0
  visibility: hidden
.hidden
  display: none
#page
  width: 960px
  margin: 0 auto

/* INDEX */

#index
  font: 700 4em/1.5 'Philosopher', sans-serif
  margin: 10px 0
  header
    background-color: #ccc
    font-size: 3em
    padding: 0 20px
  .nav-box
    float: left
    width: 25%
    height: 360px
    background-color: #666
    a
      display: block
      -moz-transform-origin: right bottom
      -moz-transform: rotate(-90deg)

/*ABOUT*/

#about
  margin: 10px 0
  header
    float: left
    width: 240px
    height: 780px
    background-color: #666
    h2
      color: #FFF

#profile
  float: right
  width: 720px
  div
    float: left
    margin: 0 0 10px 10px
    padding: 20px
    font: 400 14px/1.5 'Philosopher', sans-serif
    background-color: #ccc
    span
      font-size: 2em

/* portfolio */

#portfolio
  margin: 10px 0
  header
    background-color: #999
    margin: 10px 0
    h2
      text-align: center
.works-intro
  display: block
  float: right
  width: 260px
  background-color: #CCC
  padding: 20px
.work-box
  float: left
  background-color: #ccc
  width: 240px
  height: 240px
  position: relative
  a
    position: absolute
    display: block
    background-color: #666
    color: #FFF
    font: 400 16px/1.5 'Philosopher', sans-serif
    padding: 10px
#web-thumbs .work-box a
  bottom: 10px
  left: 0
#design-thumbs .work-box a
  top: 10px
  right: 0


$l: 87px

/* contact */

#contact
  position: relative
  background-color: #FFF
  header
    position: absolute
    top: $l+10px
    right: 0
    width: 4*$l - 10px
    height: 2*$l - 30px
    background-color: #aaa 
    padding: 20px
    h3
      font: 400 2em/1.5 'Philosopher', sans-serif
  div
    width: $l
    height: $l
    float: left
    margin: 0 10px 10px 0
    background-color: #DDD
    &:nth-child(10n+1)
      margin-right: 0

/* carousel */

.showcase-wrapper
  position: relative
  margin: 10px 0px
#carousel-prev, #carousel-next
  display: block
  position: absolute
  top: 150px
  background-color: rgba(0, 0, 0, 0.5)
  color: #FFF
  font: 400 2em/1.5 'Philosopher', sans-serif
#carousel-prev
  left: 0
#carousel-next
  right: 0
.showcase
  width: 100%
  height: 320px
  background-color: #ddd
  >a
    display: block
    float: left
    width: 100px
    height: 100px
    background-color: #aaa
.case-intro
  height: 280px
  width: 200px
  float: left
  padding: 20px
  background-color: rgba(0, 0, 0, 0.5)
  color: #FFF
    