@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: normal;
  src: local("Philosopher Bold"), local("Philosopher-Bold"), url("Philosopher.woff") format("woff"); }

@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: bold;
  src: local("Philosopher Bold"), local("Philosopher-Bold"), url("Philosopher-Bold.woff") format("woff"); }

body {
  background-color: #eeeeee;
  color: #666666;
  font: normal 12px/1.5 Helvetica, Verdana, Arial, sans-serif; }

a {
  text-decoration: none; }

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden; }

#page {
  width: 960px;
  margin: 0 auto; }

#index {
  height: 600px;
  font: 700 5em/1.5 "Philosopher", sans-serif;
  margin: 10px 0;
  position: relative; }
  #index header {
    width: 590px;
    height: 140px;
    background-color: #cccccc;
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 140px;
    font-size: 2em;
    line-height: 140px; }
  #index nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 820px; }
  #index .nav-box {
    float: left;
    width: 400px;
    height: 290px;
    margin: 0 0 10px 10px;
    background-color: #666666;
    position: relative; }
    #index .nav-box a {
      color: white;
      position: absolute;
      bottom: 0;
      right: 10px; }

#about {
  margin: 10px 0; }

#timeline {
  float: left;
  width: 200px;
  height: 780px;
  background-color: #666666; }

#profile {
  float: right;
  width: 760px; }
  #profile div {
    float: left;
    margin: 0 0 10px 10px;
    padding: 20px;
    font: 400 14px/1.5 "Philosopher", sans-serif;
    background-color: #cccccc; }
    #profile div span {
      font-size: 2em; }

#portfolio {
  margin: 10px 0; }
  #portfolio header {
    background-color: #999999; }
    #portfolio header h2 {
      display: block;
      float: left;
      width: 300px;
      height: 80px;
      text-align: center;
      font: 700 50px/80px "Philosopher", sans-serif;
      background-color: #cccccc; }
    #portfolio header nav {
      float: left; }

#portfolio-nav div {
  padding: 8px 0 8px 20px; }
  #portfolio-nav div > a {
    font: 400 16px/1.5 "Philosopher", sans-serif;
    display: inline-block;
    margin-right: 20px; }
  #portfolio-nav div > ul {
    display: inline-block; }
    #portfolio-nav div > ul > li {
      display: inline-block;
      margin-right: 10px;
      font: 400 14px/1.5 "Philosopher", sans-serif; }

.works-intro {
  display: block;
  float: left;
  width: 260px;
  background-color: #cccccc;
  padding: 20px; }

.works-wrapper {
  float: right;
  width: 660px;
  background-color: #dddddd;
  margin-top: 10px; }
  .works-wrapper .work-box {
    float: left;
    background-color: #cccccc;
    width: 320px;
    height: 240px;
    margin: 0 0 10px 10px;
    position: relative; }
    .works-wrapper .work-box a {
      position: absolute;
      display: block;
      bottom: 10px;
      right: 0;
      background-color: #666666;
      color: white;
      font: 400 16px/1.5 "Philosopher", sans-serif;
      padding: 10px; }
